ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.footer{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.container-redes{
    padding: 5px;
}

.copyright {
    text-align: center;
    color: black;
}

.title-footer{
    font-size: 26px;
    color: gray;
    font-style: italic;
}
.linea {
    width: 90%;
    height: 2px;
    background-color:gray; /* Color de la línea */
    margin: 10px 0; /* Espacio alrededor de la línea */
}

.items1{
   top: 50px;   
}
